Repository SocialGouv/emjpm, pull requests merged in 2019-07, with the labels that each got.

#566 refactor(api): remove swagger and /doc route
  packages/api/app.js
  packages/api/package.json
  packages/api/routes/doc.js
  yarn.lock
Labels: scope: api

#567 build(api): copy from local files
  packages/api/Dockerfile
Labels: scope: api

#578 chore(graphql): move @types/* from dependency to devDependency
  packages/graphql-server/package.json
Labels: scope: graphql, type: chore

#591 refactor(knex): clean service-antenne seed
  packages/knex/seeds/development/0031-service_antenne.js
Labels: scope: knex, type: refactor

#593 feat(graphql): remove useless query
  packages/graphql-server/graphql.schema.json
  packages/graphql-server/src/resolvers/mesure-stat.resolver.ts
  packages/graphql-server/src/schemas/mesure-statistic.schema.ts
  packages/graphql-server/src/types/resolvers-types.ts
Labels: scope: graphql, type: feature
