Repository SocialGouv/emjpm, pull requests merged in 2019-12, with the labels that each got.

#1092 fix(api): add date-fns dependency
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Labels: dependencies, scope: api

#1093 chore(deps): update dependency @babel/* to ^7.7.5
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Labels: dependencies, type: chore

#1094 fix(app): lodash.flow is a real dependency
  packages/app/package.json
Labels: scope: app, type: bug

#1097 fix(deps): update dependency @sentry/browser to ^5.10.2
  packages/app/package.json
  yarn.lock
Labels: dependencies, type: bug

#1096 fix(deps): update dependency next to ^9.1.5
  packages/app/package.json
  yarn.lock
Labels: dependencies, type: bug

#1095 chore(deps): update linting dependencies
  .travis.yml
  packages/api/controllers/user/forgot-password.js
  packages/api/db/errors.js
  packages/api/email/index.js
  packages/api/package.json
  packages/app/package.json
  packages/graphql-server/package.json
  packages/graphql-server/src/datasource/mesure.api.ts
  packages/graphql-server/src/model/departements.model.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/mesure-type-category-statistics.ts
  packages/graphql-server/src/resolvers/query/mesure-stat/open-mesure-number.ts
  packages/graphql-server/src/schemas/mesure-statistic.schema.ts
  packages/knex/package.json
  yarn.lock
Labels: dependencies, type: chore

#1103 fix(deps): update dependency knex to ^0.20.4
  packages/api/package.json
  packages/knex/package.json
  yarn.lock
Labels: dependencies, scope: knex

#1109 fix(app): there is not router sometimes
  packages/app/src/components/Commons/LinkButton.js
Labels: scope: app, type: bug

#1114 fix(cancel-reservation): test if sesssion vars is defined
  packages/api/routes/webhook.js
Labels: type: bug

#1146 chore(hasura): turn off telemetry
  packages/hasura/Dockerfile
  packages/hasura/config.yaml
Labels: scope: hasura, type: chore

#1145 test(knex): allow knex tests to take up to 25s
  packages/knex/__test__/index.test.js
Labels: scope: knex, type: debt

#1150 fix(magistrat-mandataires-map): add missing metadata fix pagination
  packages/app/src/components/MagistratMapMandatairesPanel/style.js
  packages/app/src/components/MagistratMapMandatairesPanelList/MagistratMapMandatairesPanelList.js
  packages/hasura/migrations/metadata.yaml
Labels: type: bug

#1102 refactor(gitlab): major installation factorisation
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/notify.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/stages/register.yml
  .k8s/api/.k8s-deploy-api-dev.yml
  .k8s/api/.k8s-deploy-api-prod.yml
  .k8s/api/deployment.yml
  .k8s/api/ingress-dev.yml
  .k8s/api/ingress-prod.yml
  .k8s/api/service.yml
  .k8s/app/.k8s-deploy-app-dev.yml
  .k8s/app/.k8s-deploy-app-prod.yml
  .k8s/app/deployment.yml
  .k8s/app/ingress-dev.yml
  .k8s/app/ingress-prod.yml
  .k8s/app/service.yml
  .k8s/certificate/certificate.dev.yml
  .k8s/certificate/certificate.prod.yml
  .k8s/graphql-server/.k8s-deploy-graphql-server.yml
  .k8s/graphql-server/deployment.yml
  .k8s/graphql-server/service.yml
  .k8s/hasura/.k8s-deploy-hasura-dev.yml
  .k8s/hasura/.k8s-deploy-hasura-prod.yml
  .k8s/hasura/deployment.yml
  .k8s/hasura/ingress-dev.yml
  .k8s/hasura/ingress-prod.yml
  .k8s/hasura/service.yml
  .k8s/metabase/.k8s-deploy-metabase.yml
  .k8s/metabase/values.yaml
  .k8s/postgres/.k8s-deploy-postgres.yml
  .k8s/postgres/backup/cronjob.yml
  .k8s/postgres/dataset/configmap/inject-dataset.sh
  .k8s/postgres/dataset/job-inject-dataset.yml
  .k8s/postgres/restore/restore-job.yml
  .k8s/postgres/values-postgresql.yaml
  .k8s/scripts/get-deploy-id.sh
  .k8s/scripts/send-url.sh
  Dockerfile
  packages/api/.dockerignore
  packages/api/.gitlab-ci.yml
  packages/api/.k8s.values.yml
  packages/api/Dockerfile
  packages/app/.dockerignore
  packages/app/.gitlab-ci.yml
  packages/app/.k8s.values.yml
  packages/app/Dockerfile
  packages/graphql-server/.gitlab-ci.yml
  packages/graphql-server/.k8s.values.yml
  packages/graphql-server/Dockerfile
  packages/hasura/.gitlab-ci.yml
  packages/hasura/.k8s.values.yml
  packages/knex/.gitlab-ci.yml
  packages/knex/Dockerfile
Labels: dependencies, scope: api, scope: app, scope: database, scope: docker, scope: gitlab, scope: k8s, scope: knex, type: ci, type: refactor

#1173 ci(travis): update travis build caching
  .travis.yml
Labels: type: ci

#1172 ci(gitlab): add PROJECT variable
  .gitlab-ci/variables.yml
Labels: scope: gitlab, scope: k8s, type: ci

#1233 chore(app): add @types/node peer dependency
  packages/app/package.json
Labels: dependencies, type: chore

#1234 chore(app): add @types/react peer dependency
  packages/app/package.json
  yarn.lock
Labels: dependencies, type: chore

#1236 ci(gitlab): make registerqtion stage interruptible
  .gitlab-ci.yml
Labels: scope: gitlab, type: ci

#1237 chore(graphql): specify ts entry files
  packages/graphql-server/tsconfig.json
Labels: scope: graphql, type: chore

#1238 build(hasura): use default hasura/graphql-engine docker cwd and entry
  packages/hasura/Dockerfile
Labels: scope: docker, scope: hasura

#1241 ci(gitlab): change notified url and env
  .gitlab-ci/env.sh
  .gitlab-ci/stages/notify.yml
Labels: scope: gitlab, type: ci

#1265 docs(CONTRIBUTION): add CONTRIBUTION documentation
  .env.build
  CONTRIBUTION.md
  docker-compose.build.yaml
  docker-compose.built.yaml
  docker-compose.override.yaml.sample
  docker-compose.yaml
Labels: scope: CONTRIBUTION, type: docs

#1263 chore(api): add objection peer dependency
  packages/api/package.json
  yarn.lock
Labels: dependencies, scope: api, type: chore
