Repository SocialGouv/emjpm, pull requests merged in 2019-08, with the labels that each got.

#580 feat(signup): allow DRDD to sign up
  packages/api/__test__/e2e/inscription/POST_inscription.test.js
  packages/api/app.js
  packages/api/controllers/user/signup.js
  packages/api/routes/inscription.js
  packages/app/src/components/common/Layout.js
  packages/app/src/components/communComponents/Api.js
  packages/app/src/components/communComponents/Navigation.js
  packages/app/src/components/inscription/Form.js
  packages/app/src/components/inscription/InscriptionDirection.js
  packages/app/src/components/inscription/InscriptionIndividuel.js
  packages/app/src/components/inscription/InscriptionPrepose.js
  packages/app/src/components/inscription/InscriptionService.js
  packages/app/src/components/inscription/InscriptionTi.js
  packages/app/src/components/inscription/uiSchema.json
  packages/app/src/components/loginComponents/LoginForm.js
  packages/app/src/components/mandataires/modals/AddAntennes.js
Labels: scope: api, scope: app, scope: signup, type: feature

#583 feat(app): update to next 9 and styled-components 4
  Dockerfile
  packages/api/__test__/e2e/mandataires/__snapshots__/POST_mesures.test.js.snap
  packages/api/db/queries/mesures.js
  packages/app/next.config.js
  packages/app/package.json
  packages/app/pages/_document.js
  packages/app/scripts/transpile_modules.sh
  packages/app/src/components/admin/TableUser.js
  packages/app/src/components/loginComponents/resetPasswordForm.js
  yarn.lock
Labels: scope: app, type: feature

#629 build(app): replace env var in all html files
  packages/app/scripts/entrypoint.sh
Labels: scope: app, type: build

#630 build(app): only replace in existing files
  packages/app/scripts/entrypoint.sh
Labels: scope: app, type: build

#633 feat(hasura): use custom image that auto apply metadata
  .gitlab-ci/stages/deploy.yml
  .gitlab-ci/stages/register.yml
  .k8s/hasura/deployment-dev.yml
  .k8s/hasura/deployment-prod.yml
  docker-compose.test.yaml
  docker-compose.yaml
  packages/hasura/Dockerfile
  packages/hasura/migrations/1561375918025_init.up.yaml
  packages/hasura/migrations/metadata.json
  packages/hasura/migrations/metadata.yaml
  packages/hasura/scripts/entrypoint.sh
Labels: type: feature

#662 build(docker): do not mount the hasura migrations [skip-ci]
  docker-compose.yaml
Labels: type: build

#659 feat(app): use exportTrailingSlash next option
  packages/app/next.config.js
  packages/app/scripts/entrypoint.sh
Labels: scope: app, type: feature

#664 fix(frontend): remove apollo calls during SSR
  packages/app/src/lib/apollo/init-apollo.js
  packages/app/src/lib/apollo/with-apollo-client.js
Labels: scope: app, type: bug
